header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    /* box-shadow: 0px 0px 10px 2px black; */
    padding: 10px 10px;
}
.logo{
    font-size: 1.7rem;
    padding-left: 1%;
}
nav{
    display: flex;
    padding-left: 50%;
    /* justify-content: right;
    margin-right: auto; */
}
nav li{
    display: flex;
    align-items: center;
    list-style-type:none;
    padding: 10px 15px;
}
nav li:hover{
    background-color: rgba(0, 0, 0, 0.116);
    /* padding: ; */
    cursor: pointer;
}
nav a{
    display: flex;
    align-items: center;
    text-decoration-line: none;
    color: black;
}

.bx{
    font-size: 25px;
}