body {
    background: rgb(99, 39, 120)
}

header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    /* box-shadow: 0px 0px 10px 2px black; */
    padding: 10px 10px;
}
.logo{
    font-size: 1.7rem;
    padding-left: 1%;
}
nav{
    display: flex;
    padding-left: 10%;
    /* justify-content: center; */
}
nav li{
    list-style-type:none;
    padding: 10px 15px;
}
nav li:hover{
    background-color: rgba(0, 0, 0, 0.116);
    /* padding: ; */
    cursor: pointer;
}
nav a{
    display: flex;
    align-items: center;
    text-decoration-line: none;
    color: black;
}
nav a:hover{
    color: black;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}